h1{
  text-align: center;
}
#size{
  width: 90vw;
  font-size: .8em;
  padding: .2em .3em;
}
.question{
margin: 1em 0em;
}
.stuff{
  padding: .5em;
}
#days{
  width: 90vw;
}
#button{
  background-color: lightgray;
  width: 90vw;
  border: none;
  padding: .5em .5em;
  border-radius: 5px;
}